body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}
h1 {
  font-size: 50px;
  font-weight: 400;
}
h2 {
  font-size: 35px;
  font-weight: 300;
}
.flexible-container {
  display: flex;
  margin-bottom: 10%;
}
.half-width {
  width: 50%;
  padding-left: 3%;
  padding-top: 3%;
}
.half-width img {
  width: 70%;
}
.link-profile {
  text-decoration: none;
  display: block;
  width: 100px;
  height: 25px;
  background-color: rgb(30, 90, 255);
  border-radius: 5px;
  font-weight: 600;
  color: beige;
  text-align: center;
  padding: 10px 5px;
  margin-left: 20px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.mid-banner {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.resume-link {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 25px;
  background-color: rgb(30, 90, 255);
  border-radius: 5px;
  font-weight: 600;
  color: beige;
  text-align: center;
  padding: 10px 5px;
  margin-left: 20px;
  text-transform: uppercase;
}
#exp {
  padding-left: 20px;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}
.developer-area {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  box-shadow: 10px 5px 20px grey;
}
#baby-web {
  border-left: 5px solid blueviolet;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#pro-web {
  border-left: 5px solid blueviolet;
  border-image: linear-gradient(green, yellow);
  border-image-slice: 1;
}
footer {
  text-align: center;
  margin-top: 2%;
}
